.heading-gradient {
  background: linear-gradient(90deg, #352f75, #7b37a9, #39a6dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-banner {
  padding: 120px 0px;
  background-image: url(../assets/images/background_hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  position: relative;
  width: 100%;
  /* border: 2px solid red; */
}

.hero-contact h1 {
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.partner-container {
  max-width: 1500px;
  /* background-image: url("../assets/images/partners/container-bg-grey.png"); */
  height: 650px;
}
.partner-container-2 {
  max-width: 1500px;
  /* background-image: url("../assets/images/partners/container-bg-grey-2.png"); */
}

.partner-container-3 {
  max-width: 1500px;
  /* background-image: url("../assets/images/partners/container-bg-grey-3.png"); */
}

.partner-section {
  width: 100%;
  /* height: auto; */
  /* border: 1px solid blue; */
  gap: 20px;

  padding: 150px 30px 0px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.last-section {
  padding: 150px 30px 105px 30px;
}

.partner-container,
.partner-container-2,
.partner-container-3 {
  width: 100%;
  /* height: 610px; */
  /* height: auto; */
  /* border: 1px solid red; */
  background: #fafafa;

  padding: 75px;
  gap: 40px;

  display: flex;
  flex-direction: row;
}

.partner-column-left,
.partner-column-right {
  width: 50%;
  height: auto;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
}

.partner-column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.partner-column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
}

.partner-column-image {
  border-radius: 12px;
}

.partner-column-subsection {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
.partner-column-subsection .subsection-title {
  color: #352f75;
  font-weight: bold;
  font-size: 18px;
}

.subsection-cards {
  width: 100%;
  /* border: 1px solid magenta; */

  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 10px 0px;
}

.subsection-card {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.partner-column-subsection .subsection-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subsection-list {
  margin-top: 5px;
  gap: 10px;
}

.subsection-list-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .partner-holder-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1500px;
} */

.partner-holder-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 70%;
  height: auto;
  max-width: 1500px;
  gap: 20px;
}

.partner-holder {
  height: auto;
  border: 2px solid #aa9ed1;
  border-radius: 20px;
  padding: 25px 70px;
  display: flex;
  align-items: center;
}
.partner-holder img {
  width: 145px;
}

/* .partner-holder {
  position: relative;
  padding: 25px 50px;
  background: linear-gradient(45deg, #ff7e5f, #feb47b) border-box;
  border: 5px solid transparent;
  border-radius: 20px;
} */
/* ------------------------------------gradient border---------------------------- */
.module {
  /* max-width: 250px; */
  position: relative;
  /* color: white; */
  /* padding: 2rem; */
}
.module-border {
  position: absolute;
  overflow: visible;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  fill: none;
  stroke: url(#grad);
  stroke-width: 1px ;
}
#grad stop:nth-child(1) {
  stop-color: #365798;
}
#grad stop:nth-child(2) {
  stop-color: #365798;
}
/* ---------------------------------------------------------------- */

/* ------------------------------------cutout shape---------------------------- */
.partner-container .shape-vertical {
  position: absolute;
  right: -1.5px;
}

.partner-container-3 .shape-vertical {
  position: absolute;
  right: -1px;
  top: 20%;
}

.partner-container-2 .shape-vertical-2 {
  position: absolute;
  left: -1px;
}

@media (max-width: 1600px) {
  /* .partner-section{
    padding: 150px 30px 0px 30px;
    } */
}

@media (max-width: 1290px) {
  .partner-holder-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: auto;
    max-width: 1500px;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .partner-container .shape-vertical {
    position: absolute;
    right: -1.5px;
    height: 400px;
    top: 18%;
  }
  .partner-container-2 .shape-vertical-2 {
    position: absolute;
    left: -1px;
    height: 400px;
    top: 16%;
  }
  .partner-container-3 .shape-vertical {
    position: absolute;
    right: -1px;
    top: 20%;
    height: 400px;
  }
}

@media (max-width: 1250px) {
  .partner-container .shape-vertical {
    position: absolute;
    right: -1.5px;
    height: 350px;
    top: 18%;
  }
  .partner-container-2 .shape-vertical-2 {
    position: absolute;
    left: -1px;
    height: 350px;
    top: 16%;
  }
  .partner-container-3 .shape-vertical {
    position: absolute;
    right: -1px;
    top: 20%;
    height: 350px;
  }
}

@media (max-width: 1199px) {
  .last-section {
    padding: 150px 30px 0px 30px;
  }
  .partner-container .shape-vertical {
    position: absolute;
    right: -1.5px;
    height: 300px;
    top: 18%;
  }
  .partner-container-2 .shape-vertical-2 {
    position: absolute;
    left: -1px;
    height: 300px;
    top: 16%;
  }
  .partner-container-3 .shape-vertical {
    position: absolute;
    right: -1px;
    top: 20%;
    height: 300px;
  }
}

@media (max-width: 1140px) {
  .partner-container,
  .partner-container-2,
  .partner-container-3 {
    padding: 50px;
  }

  .partner-container .partner-column-left,
  .partner-container .partner-column-right {
    width: 100%;
    align-items: flex-start;
  }

  .partner-container-2 {
    flex-direction: column-reverse;
  }
  .partner-container-2 .partner-column-left,
  .partner-container-2 .partner-column-right {
    width: 100%;
    align-items: flex-start;
  }

  .partner-container,
  .partner-container-3 {
    flex-direction: column;
    height: auto;
  }

  .partner-container-3 .partner-column-left,
  .partner-container-3 .partner-column-right {
    width: 100%;
    align-items: flex-start;
  }

  .partner-column-right input {
    width: 100%;
  }

  .partner-holder-container {
    display: grid;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .partner-section {
    padding: 50px 30px 0px 30px;
  }

  .shape-vertical,
  .shape-vertical-2 {
    height: 185px;
  }
  .partner-container .shape-vertical {
    right: -1px;
    top: 10%;
  }
  .partner-container-3 .shape-vertical {
    position: absolute;
    right: -1px;
    top: 10%;
    height: 300px;
  }

  .partner-container-2 .shape-vertical-2 {
    position: absolute;
    left: -1px;
    top: 10%;
    height: 300px;
  }

  .subsection-cards {
    /* flex-direction: column; */
  }
  /* .hero-contact h1{
    font-size: 40px;
  } */
  .hero-banner h3 {
    font-size: 20px;
  }
}

@media (max-width: 970px) {
  .partner-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
@media (max-width: 640px) {
  .partner-holder-container {
    grid-template-columns: auto;
  }
  .hero-banner {
    padding: 50px 0px !important;
  }
  .subsection-card {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .partner-section {
    padding: 50px 20px 0px 20px;
  }

  .partner-container,
  .partner-container-2,
  .partner-container-3 {
    padding: 25px;
  }
  .partner-container .shape-vertical,
  .partner-container-2 .shape-vertical-2,
  .partner-container-3 .shape-vertical {
    height: 180px;
  }
}
