.heading-gradient {
  background: linear-gradient(90deg, #352f75, #7b37a9, #39a6dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.pricing-left-container .square-box {
  display: flex;
  gap: 10px;
}

.hero-banner {
  padding: 120px 0px;
  background-image: url(../assets/images/background_hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  position: relative;
  width: 100%;
  /* border: 2px solid red; */
}

.pricing-section {
  /* border: 1px solid blue; */
  width: 100%;
  height: auto;
  padding: 150px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pricing-container {
  max-width: 1500px;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.pricing-left-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pricing-right-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subsection-title {
  color: #352f75;
  font-weight: bold;
  font-size: 18px;
}

.subsection-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subsection-list-item {
  align-items: start;
}
.pricing-cards-container {
  width: 100%;
  max-width: 1500px;
  height: auto;
  /* border: 2px solid red; */

  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pricing-card hr {
  margin: 0;
}

.pricing-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  height: auto;
  /* border: 1px solid green; */
  background: rgb(231, 231, 231);
  border: 1px solid #6156dd;
  padding: 40px;
  border-radius: 20px;
}

.pricing-card .pricing-shape{
    position: absolute;
    bottom: -1.45px;
    height: 32px;
}

.pricing-card button {
  margin-top: 40px;
}

@media (max-width: 1540px) {
  .pricing-cards-container{
    padding: 20px;
  }
    .pricing-section .pricing-container .pricing-cards-container {
    padding: 0;
  }
  .pricing-left-container:nth-child(2) img{
    width: 100%;
  }
}

@media (max-width: 1140px) {
  .pricing-container {
    flex-direction: column;
    padding: 0px 20px 20px 20px;
  }
  .pricing-container .pricing-left-container,
  .pricing-container .pricing-right-container {
    width: 100%;
  }

  .pricing-cards-container {
    flex-direction: column;
    padding: 20px;
  }

  .pricing-section{
    padding: 50px 0px 0px 0px;
  }
}
