.heading-gradient {
  background: linear-gradient(90deg, #352f75, #7b37a9, #39a6dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-contact {
  justify-items: center !important;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 20px; */
}

.archive-section {
  width: 100%;
  height: auto;
  /* border: 1px solid blue; */

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 20px;
  flex-direction: column;
  gap: 100px;
}

.archive-holder {
  max-width: 1500px;
  width: 100%;
  height: auto;
  background-image: url(../assets/images/stories/stories-section-bg.png);
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  padding: 0px 0px 0px 75px;
  position: relative;
  overflow: hidden;
}

.left-archive-holder,
.right-archive-holder {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  flex-direction: column;
}

.left-archive-upper-holder,
.left-archive-lower-holder {
  width: 100%;
  height: auto;
  /* border: 1px solid orange; */

  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

/* .subtitle-normal{
    width: auto;    
    height: auto;
    border: 2px solid red;
    padding: 8px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
} */
/* pill with gradient border + white inside */
.subtitle-normal {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 4px 20px; /* inner spacing */
  border-radius: 9999px; /* fully rounded */
  border: 2px solid transparent; /* lets the gradient paint the stroke */

  /* 1) white fill on the padding-box
     2) gradient for the border on the border-box */
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #352f75, #7b37a9, #39a6dd) border-box;

  color: #111; /* text colour */
}

.cta-btn {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.left-archive-holder {
  justify-content: space-around;
}

.story-shape {
  position: absolute;
  height: 250px;
  left: -1px;
  top: 75px;
}

.module {
  /* max-width: 250px; */
  position: relative;
  /* color: white; */
  /* padding: 2rem; */
  border-radius: 20px;
}
.module-border-2 {
  position: absolute;
  overflow: visible;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  fill: none;
  stroke: url(#grad);
  stroke-width: 3px;
}
#grad stop:nth-child(1) {
  stop-color: #352f75;
}
#grad stop:nth-child(2) {
  stop-color: #39a6dd;
}

@media (max-width: 1100px) {
  h2.heading-gradient {
    margin: 20px 0px;
    line-height: 1.3;
  }

  .right-archive-holder img {
    border-radius: 0px !important;
  }
}

@media (max-width: 500px) {
  .story-shape {
    height: 160px;
  }
}
/* ---------------------------------------------------------------------------- */

@media (max-width: 1100px) {
  .hero-banner {
    padding: 50px 0px;
  }
  .hero-contact h1 {
    font-size: 40px;
  }
  img.hero-bottom-shape {
    width: 200px;
  }

  .archive-section {
    padding: 50px 30px 30px 30px;
    gap: 30px;
  }
  .right-archive-holder img {
    width: 100%;
  }
  .archive-holder {
    padding: 60px;
    /* flex-direction: column-reverse; */
  }
}

@media (max-width: 970px) {
  .archive-holder {
    flex-direction: column-reverse;
  }
  .left-archive-upper-holder {
    gap: 0px;
  }
  .left-archive-upper-holder .heading-gradient {
    margin: 10px 0px;
  }
}

@media (max-width: 640px) {
  .story-shape {
    position: absolute;
    height: 250px;
    left: 385px;
    top: -111px;
    transform: rotate(90deg);
  }

  img.hero-bottom-shape {
    right: auto;
  }
}

@media (max-width: 600px) {
  .story-shape {
    position: absolute;
    height: 220px;
    left: 360px;
    top: -98px;
    transform: rotate(90deg);
  }
}

@media (max-width: 570px) {
  .story-shape {
    position: absolute;
    height: 220px;
    left: 310px;
    top: -98px;
    transform: rotate(90deg);
  }
}

@media (max-width: 500px) {
  .archive-holder {
    padding: 40px;
  }
  .story-shape {
    left: 270px;
  }
}

@media (max-width: 460px) {
  .archive-section {
    padding: 50px 20px 30px 20px;
  }
  .story-shape {
    height: 200px;
    top: -89px;
    left: 240px;
  }
}

@media (max-width: 420px) {
  .story-shape {
    height: 180px;
    top: -80px;
    left: 200px;
  }
}

@media (max-width: 400px) {
  .archive-holder {
    padding: 40px 20px 20px 20px;
  }
}

@media (max-width: 360px) {
  .story-shape {
    left: 180px;
  }
}
